.root__container {
    margin: 8rem auto;
    width: 80%;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0 2rem 3rem rgba($font-color-primary-dark, .75);


    display: grid;
    grid-template-columns: [sidebar-start ] 30rem [sidebar-end main-content-start] minmax(45rem, 1fr) [main-content-end];
    grid-template-rows: 7vh 80vh;
}

.action-bar {
    grid-column: sidebar-end / main-content-end;


    background-color:  $layout-color-primary-2;
    padding-right: 2rem;

    display: grid;
    grid-template-columns: min-content min-content;
    justify-content: end;
    column-gap: 2rem;
    align-items: center;

}

.sidebar {
    grid-row: 1 / -1;
    background-color:  $layout-color-secondary;
    
}

.main-content {
    background-color: $layout-color-primary;
}