@import "../styles/base/base";

.task__item {
    width: 100%;
    padding: 1.5rem;
    background-color: $layout-color-primary;
    color: $font-color-primary;
    font-size: 1.6rem;
    list-style: none;
    cursor: pointer;
    border-radius: .5rem;
    transition: all .3s;

    &:not(:last-child) {
        margin-bottom: 1rem;
    }

    &:hover {
        transform: translateY(-.25rem) translateX(.25rem);
        box-shadow: 0 1rem 1rem rgba($font-color-primary-dark, .5);
    }
}